* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.juego{
  height: 100vh;
}

.titulo{
  text-align: center;
  padding: 10%;
  font-family: 'Schoolbell', cursive;
  font-size: 3rem;
  background-color: orange;
}

.tablero{
  margin-top: 20%;
}

.fila{
  margin-left: 11%;
}

.fila .cuadrado{
  width: 100px;
  height: 100px;
  padding: 8%;
  font-family: 'Schoolbell', cursive;
  font-size: 2.5rem;
  text-align: center;
  color: blue;
}

.ganador{
  text-align: center;
  font-family: 'Schoolbell', cursive;
  font-size: 2.5rem;
  margin-top: 20px;
}

/* font-family: 'Gloria Hallelujah', cursive;
font-family: 'Monoton', cursive;
font-family: 'Sigmar', cursive; */