* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.juego{
  height: 100vh;
}

.titulo{
  text-align: center;
  padding: 10%;
  font-family: 'Monoton', cursive;
  font-size: 3rem;
  background: linear-gradient(to right, rgba(255, 215, 109, 1) 0%, 15.454545617103577%, rgba(241, 79, 76, 1) 30.909091234207153%, 65.45454561710358%, rgba(169, 132, 202, 1) 100%);
  color: white;
}

.tablero{
  margin-top: 20%;
  display: flex;
  flex-direction: column;
}

.fila{
  margin: 0 auto;
  max-height: 100px;
}

.cuadrado{
  width: 100px;
  height: 100px;
  font-family: 'Schoolbell', cursive;
  font-size: 4.9rem;
  text-align: center;
  color: white;
  background-color: #A984CA;
  border: solid 11px white;

} 

.cuadrado:active{
  color: #FFD76D;
}

.comandos{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 20px;
  margin-top: 20px;
}

.ganador{
  text-align: center;
  font-family: 'Schoolbell', cursive;
  font-size: 2rem;
  margin-top: 21px;
}

.restart{
  text-align: center;
  font-family: 'Schoolbell', cursive;
  font-size: 2rem;
  margin-top: 20px;
  width: 70%;
  margin: auto;
  border: none;
  color: white;
  background-color: #F14F4C;
  border: 0;
  border-radius: 12px;
}

/* font-family: 'Gloria Hallelujah', cursive;
font-family: 'Monoton', cursive;
font-family: 'Bangers', cursive;
font-family: 'Caveat Brush', cursive; */
